<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/styles/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <title>Index Page</title>
</head>
<body>
    <h1>Hola</h1>
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary rounded-full border-rose-600">Buy Now</button>
        </div>
      </div>
    </div>
    <!-- <div class="card card-compact w-96 bg-base-100 shadow-xl">
        <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
    </div> -->
</body>
</html>